.header-container {
  background-color: #24343D;
  color: white;
  padding: 4%;
}

.body {
  background-color: #81BADB;
  color: #24343D;
}

.progress {
  position: relative;
  height: 16px;
}

.progress-bar {
  width: 50%;
  height: 16px;
  z-index: 1;
  position: absolute;
}

.progress-bar span {
  position: absolute;
  top: 0;
  z-index: 2;
  /*color: black; /* Change according to needs */
  text-align: center;
  width: 100%;
}






.stats-container {
  background-color: #456475;
  color: white;
  padding: 4%;
}

#parent_control_submit {
  color: #81BADB;
  background-color: #24343D;
  border: #24343D;
  outline: #24343D;
}

#parent_control_submit:hover {
  color: #81BADB;
  background-color: #456475;
  border: #456475;
  outline: #456475;
  box-shadow: none;
}

/* #81BADB #456475 #24343D */