.header-container {
  background-color: #24343D;
  color: white;
  padding: 4%;
}

.body {
  background-color: #81BADB;
  color: #24343D;
}

.progress {
  height: 16px;
}

.progress-bar {
  width: 50%;
  height: 16px;
  text-align: center;
}

.stats-container {
  background-color: #456475;
  color: white;
  padding: 4%;
}

.header-div {
  margin-left: 15%;
  margin-right: 15%;
}

.top-spacer {
  margin-top: 2%;
}

.dark-text {
  color: #24343D;
}

#codeModalFooter,  #codeModalFooter p{
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin: 0px;
}

#parent_control_submit{
  color: #81BADB;
  background-color: #24343D;
  border: #24343D;
  outline: #24343D;
}

#parent_control_submit:hover{
  color: #81BADB;
  background-color: #456475;
  border: #456475;
  outline: #456475;
  box-shadow: none;
}

#cellNum_submit, #code_submit{
  color: #24343D;
  background-color: #456475;
  outline: #456475;
}

#cellNum_submit:hover, #code_submit:hover{
  color: #24343D;
  background-color: #81BADB;
  outline: #24343D;
  box-shadow: none;
}

/* #81BADB #456475 #24343D */