.parentPortalDropdown {
  position: absolute;
  width: 15%;
  padding-top: 3%;
}

.parentPortalSpacer {
  position: relative;
  width: 85%;
}
  .parentPortalButton {
    color: #81BADB;
    background-color: #24343D;
    padding: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .parentPortalButton:hover, .parentPortalButton:focus {
    color: #456475;
  }

  .parentPortalItems {
    margin: auto;
    display: none;
    position: absolute;
    background-color: #456475;
    width: 44vw;
    overflow: auto;
    z-index: 1;
  }
  
  .formTitle{
    font-size: 16px;
    padding-left: 5%;
    text-align: left;
  }
  
  .parentPortalItems form{
    color: #81BADB;
    text-align: right;
  }

  .parentPortalItems form label {
    width: 20%;
    /* Positions the label text beside the input */
    text-align: right;
  }

  .parentPortalItems form input {
    display: inline-block;
  }

  .parentPortalItems form label+input {
    width: 30%;
    margin: 0 30% 0 4%;
  }

  .show {
    display: block;
  }

  .signifier{
    font-size:12px; 
    text-align:right; 
    padding-right:5%;
  }

  #parentPortalSettings {
    width: 50%;
    float: left;
  }
  
  #parentPortalStats {
    width: 50%;
    float: right;
  }