body {
  margin: 0px;
  min-height: 100vh;
  overflow: hidden;
  font-size: 14px;
  background-color: #24343D;
  color: black;
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  color: #81BADB;
  margin-top: 35px;
}

.content {
  background-color: #456475;
  margin-top: 35px;
  margin-right: 3.5%;
  margin-left: 3.5%;

  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #24343D;
  text-align: center;
}

.dismissButtonParent {
  width: 100%;
  flex: 1;
  display: flex;
  text-align: center;
}

.spacer {
  flex: 1 1 40%;
}

.dismissButton {
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: #81BADB;
  display: inline-block;
  flex: 1 1 20%;
  margin-top: 1.75%;
}

.testMessage {
  word-wrap: break-word; 
  display: inherit; 
  /* inherit; none; */
}

.urgentText {
  color: #F47174;
}

#parent_portal_link {
  color: #456475;
  text-decoration: none;
  padding: 1%;
}

#parent_portal_link:hover {
  color: #81BADB;
  text-decoration: none;
  padding: 1%;
}

#minimizeButton {
  color: #81BADB;
  cursor: pointer;
  padding: 6px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 7px;
  background: #24343D;
  border: 2px solid #81BADB;
}

#minimizeButton:hover {
  color: #24343D;
  cursor: pointer;
  padding: 6px;
  padding-right: 14px;
  padding-left: 14px;
  border-radius: 7px;
  background: #81BADB;
  border: 2px solid #81BADB;
}

#primary_message {
  word-wrap: break-word;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}
